/* font-family: 'Alfa Slab One', cursive;

font-family: 'Open Sans', sans-serif; */
body, html {
    height: 100%;
  }
footer {
    background-color: bisque;
}
h1, h2 {
    font-family: 'Alfa Slab One', cursive;
}
.hero {

    background: url(../images/premier_background.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
}
.firsttitle {
    color: #fcfffd;
}
/* .carousellogos {
    height: 200px;
    width: 200px;
} */

.tamañocarousel {
    width:  450px;
    height: 320px;
    /* margin-left: 55%; */
    
}

/* .tamañoContenidoCarousel {
    margin: auto;
    width:  300px;
    height: 300px;
} */
.navbar
{
    max-width:none ;
}

/* .rowdenovedadesycar {
    margin-left: 35%;
    max-width: max-content;
    
} */
.lista-novedades {
    margin: 0;
    padding: 0;
    list-style: none;
}
.lista-novedades li {
    margin: 4px 0;
}
.lista-novedades li a {
    background-color: rgba(0);
    font-family: 'Alfa Slab One', cursive;
    text-decoration: none;
    font-size: 1.2rem;
    color: silver;
    transition: all .2s ease-in-out;
    display: block;
}
.lista-novedades li a:hover {
    color: #212529;
    background-color: rgba(0);
}
.lista-novedades li a img {
    width: 120px;
    height: 50px;
    filter: grayscale();
    transition: all .2s ease-in-out ;
    margin-right: 1rem;
    opacity: 0.7;
}
.jugadoresdelafecha {
    background-color: silver;
}

.mapa iframe {
    width: 80%;
    aspect-ratio: 1.2;
}

html {
    scroll-behavior: smooth;
}
.scroll_section {
    scroll-margin-top: 60px ;
}

.mapa-united {
    background: url(../images/background-united.jpg) no-repeat;
    background-size:  cover;
    height: 100%;
    color: rgb(0, 0, 0);
    text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #fffefe,
    -1px 1px 0 #fffefe,
    1px 1px 0 #ffffff;  
} 

.mapa-city {
    background: url(../images/background-city.jpg) no-repeat;
    background-size:  cover;
    height: 100%;
    color: rgb(0, 0, 0);
    text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #fffefe,
    -1px 1px 0 #fffefe,
    1px 1px 0 #ffffff; 
}

.mapa-arsenal {
    background: url(../images/background-arsenal.jpg) no-repeat;
    background-size:  cover;
    height: 100%;
    color: rgb(0, 0, 0);
    text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #fffefe,
    -1px 1px 0 #fffefe,
    1px 1px 0 #ffffff;
}
.mapa-chelsea {
    background: url(../images/background-chelsea.jpg) no-repeat;
    background-size:  cover;
    height: 100%;
    color: rgb(0, 0, 0);
    text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #fffefe,
    -1px 1px 0 #fffefe,
    1px 1px 0 #ffffff;
}

.mapa-liverpool {
    background: url(../images/background-liverpool.jpg) no-repeat;
    background-size:  cover;
    height: 100%;
    color: rgb(0, 0, 0);
    text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #fffefe,
    -1px 1px 0 #fffefe,
    1px 1px 0 #ffffff;
}

.mapa-tott {
    background: url(../images/background-tott.jpg) no-repeat;
    background-size:  cover;
    height: 100%;
    color: rgb(0, 0, 0);
    text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #fffefe,
    -1px 1px 0 #fffefe,
    1px 1px 0 #ffffff; 
}

.novedades_titulo {
    background-color: rgba(0);
    font-family: 'Alfa Slab One', cursive;
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
    transition: all .2s ease-in-out;
    display: block;
}