<div class="hero py-5 ">
    <!-- <div class="hero row align-items-center"> -->
    <div class="container-fluid">
        <div id="home" class="scroll_section">
            <div class="col-lg-6 offset-lg-5 firsttitle align-items-center py-5">

                <h1>Titulo Principal</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic possimus sit dolorem illo aspernatur
                    dignissimos alias quibusdam ex molestias facere porro eum assumenda labore cum doloribus, voluptas
                    eligendi
                    neque voluptates.</p>
            </div>
        </div>
    </div>
    <div class="row rowdenovedadesycar">
        <!-- <div class="row my-3 rowdenovedadesycar"> -->
        <div id="novedades" class="col-md-3 offset-md-6 ">
            <!-- <div id="novedades" class="col-md-2 offset-md-2 py-3"></div> -->
            <h2>Novedades</h2>
            <ul class="lista-novedades">
                <li><a href="#"><img src="images/premier_logo_blanco.png"> Novedad 1</a></li>
                <li><a href="#"><img src="images/premier_logo_blanco.png"> Novedad 2</a></li>
                <li><a href="#"><img src="images/premier_logo_blanco.png"> Novedad 3</a></li>
                <li><a href="#"><img src="images/premier_logo_blanco.png"> Novedad 4</a></li>
            </ul>
        </div>
        <div id="equipos" class="carousel slide tamañocarousel col-md-3 scroll_section" data-bs-ride="true">
            <!-- <div id="carouselExampleIndicators" class="carousel slide tamañocarousel col-md-4 offset-md-1 py-3"></div> -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#equipos" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#equipos" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#equipos" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#equipos" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#equipos" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#equipos" data-bs-slide-to="5"
                    aria-label="Slide 6"></button>
            </div>
            <div class="carousel-inner mx-auto">
                <div class="carousel-item active tamañoContenedorCarousel">
                    <img src="images/man_utd_logo.png" class="d-block img-fluid" alt="...">
                </div>
                <div class="carousel-item tamañoContenedorCarousel">
                    <img src="images/liverpool_logo.png" class="d-block img-fluid" alt="...">
                </div>
                <div class="carousel-item tamañoContenedorCarousel">
                    <img src="images/man_city_logo.png" class="d-block img-fluid" alt="...">
                </div>
                <div class="carousel-item tamañoContenedorCarousel">
                    <img src="images/arsenal_logo.png" class="d-block img-fluid" alt="...">
                </div>
                <div class="carousel-item tamañoContenedorCarousel">
                    <img src="images/Logo-Chelsea.png" class="d-block img-fluid" alt="...">
                </div>
                <div class="carousel-item tamañoContenedorCarousel">
                    <img src="images/tott_logo.png" class="d-block img-fluid" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#equipos"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#equipos"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div><!-- termina carousel -->
    </div> <!-- termina el row -->
    <!-- arranca historia -->
    <div id="historia" class="row align-items-center my-5">
        <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
            <img src="" alt="" class="img-fluid">
        </div>
        <div class="col-lg-2 col-md-3 d-none d-sm-block">
            <img src="" alt="" class="img-fluid">
        </div>
        <div class="col-12 d-sm-none">
            <img src="" alt="" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
            <h2>Historia</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur sapiente dolor assumenda!
                Accusantium
                quidem corrupti facilis sapiente natus unde iusto consequuntur ducimus quo nam maxime debitis, nihil
                perspiciatis dolore dicta.</p>
        </div>
    </div> <!-- cierra historia -->



</div> <!-- "imagen de la premier" -->
<!-- inicio jugadores fecha -->
<div id="jugadores" class="row row-cols-1 row-cols-md-4 g-4 jugadoresdelafecha scroll_section">
    <div class="col">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Rashford</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Haaland</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Julian Alvarez</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Saka</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="jugadoresdelafecha">
        <p></p>
    </div>
    <div class="jugadoresdelafecha">
        <p></p>
    </div>
    <div class="jugadoresdelafecha">
        <p></p>
    </div>
</div>
<!-- cierra jugadores de la fecha -->
<!-- inicio mapa canchas -->
<div id="mapas" class="row py-4 scroll_section">
    <div class="col-md-12">
        <h2 class="h2-estadios offset-md-1">Old Trafford</h2>
        <div class="mapa offset-md-1">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3359.260961883905!2d-2.2900378873469087!3d53.462093797108416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487bae72e7e47f69%3A0x6c930e96df4455fe!2sOld%20Trafford!5e0!3m2!1ses-419!2sar!4v1693703569841!5m2!1ses-419!2sar"></iframe>
        </div>
        <div style="background-color: silver;">
            <div class="mapa offset-md-1">
                <h2 class="h2-estadios">Etihad</h2>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3359.260961883905!2d-2.2900378873469087!3d53.462093797108416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487bae72e7e47f69%3A0x6c930e96df4455fe!2sOld%20Trafford!5e0!3m2!1ses-419!2sar!4v1693703569841!5m2!1ses-419!2sar"></iframe>
            </div>
        </div>
        <h2 class="h2-estadios offset-md-1">Emirates Stadium</h2>
        <div class="mapa offset-md-1">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3359.260961883905!2d-2.2900378873469087!3d53.462093797108416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487bae72e7e47f69%3A0x6c930e96df4455fe!2sOld%20Trafford!5e0!3m2!1ses-419!2sar!4v1693703569841!5m2!1ses-419!2sar"></iframe>
        </div>
        <div style="background-color: silver;">
            <h2 class="h2-estadios offset-md-1">Stanford Bridge</h2>
            <div class="mapa offset-md-1">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3359.260961883905!2d-2.2900378873469087!3d53.462093797108416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487bae72e7e47f69%3A0x6c930e96df4455fe!2sOld%20Trafford!5e0!3m2!1ses-419!2sar!4v1693703569841!5m2!1ses-419!2sar"></iframe>
            </div>
        </div>
        <h2 class="h2-estadios offset-md-1">Anfield</h2>
        <div class="mapa offset-md-1">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3359.260961883905!2d-2.2900378873469087!3d53.462093797108416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487bae72e7e47f69%3A0x6c930e96df4455fe!2sOld%20Trafford!5e0!3m2!1ses-419!2sar!4v1693703569841!5m2!1ses-419!2sar"></iframe>
        </div>
        <div style="background-color: silver;">
            <h2 class="h2-estadios offset-md-1">Tottenham Hotspur Stadium</h2>
            <div class="mapa offset-md-1">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3359.260961883905!2d-2.2900378873469087!3d53.462093797108416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487bae72e7e47f69%3A0x6c930e96df4455fe!2sOld%20Trafford!5e0!3m2!1ses-419!2sar!4v1693703569841!5m2!1ses-419!2sar"></iframe>
            </div>
        </div>

    </div>

</div>
<!-- fin mapa canchas -->
<!-- principio formulario -->
<form id="contactanos" class="row g-3 offset-md-1 scroll_section" action="/" method="post">
    <h2>Contactanos</h2>
    <div class="col-md-4">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre">
    </div>
    <div class="col-md-4">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="apellido" name="apellido">
    </div>
    <div class="col-8">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="...@gmail.com" name="email">
    </div>
    <div class="col-8">
        <label for="tel" class="form-label">Tel</label>
        <input type="text" class="form-control" id="tel" placeholder="+54..." name="tel">
    </div>
    <div class="col-md-8">
        <label for="mensaje" class="form-label">Mensaje</label>
        <textarea class="form-control" id="mensaje" rows="3" name="mensaje"></textarea>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>
<p>{{message}}</p>