p{
    color: blue;
}

h1{
    color: brown;
    background-color: blue;
     text-align: center;
     text-transform: uppercase;
}

h2{
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;

}

div{
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    /* boxsizing borde box ajusta permanente el tamaño de la caja */
    background-color: red;
    text-align: center;
    border: 2px solid black;
    padding: 70px;
    margin-left: 400px;
    margin-top: 500px;
    
}

#fondo-rojo{
    color: aliceblue;
}
/* id en html para editar un elemento especifico
# en css */

/* class a un grupo de elementos que compartan la edicion
. en css*/

.p-negros{
    color: black;
}

